<div class="col-sm-4 col-sm-offset-4">
  <br>
  <legend>Edit Profile</legend>

  <form ng-submit="updateProfile(user)" name="editProfileForm">

    <div class="form-group has-feedback" ng-class="{ 'has-error' : editProfileForm.username.$invalid && editProfileForm.username.$dirty }">
      <input class="form-control input" type="text" name="username" ng-model="user.username" placeholder="username" required>
      <span class="ion-person form-control-feedback"></span>
      <div class="help-block text-danger" ng-if="editProfileForm.username.$dirty" ng-messages="editProfileForm.username.$error">
        <div ng-message="required">You must enter your name.</div>
      </div>
    </div>

    <input type="file" ngf-select ng-model="picFile" name="file"    
             accept="image/*" ngf-max-size="2MB" required>
      <i ng-show="myForm.file.$error.required">*required</i><br>
      <i ng-show="myForm.file.$error.maxSize">File too large 
          {{picFile.size / 1000000|number:1}}MB: max {{picFile.$errorParam}}</i>
      <img ng-show="myForm.file.$valid" ngf-src="!picFile.$error && picFile"
           class="thumb">
    <button ng-click="uploadPic(picFile)">Submit</button>

    <div class="form-group has-feedback" ng-class="{ 'has-error' : editProfileForm.email.$invalid && editProfileForm.email.$dirty }">
      <input class="form-control input" type="email" id="email" name="email" ng-model="user.email" placeholder="Email" required disabled>
      <span class="ion-at form-control-feedback"></span>
      <div class="help-block text-danger" ng-if="editProfileForm.email.$dirty" ng-messages="editProfileForm.email.$error">
        <div ng-message="required">Your email address is required.</div>
        <div ng-message="pattern">Your email address is invalid.</div>
      </div>
    </div>

    <div class="form-group has-feedback" ng-class="{ 'has-error' : editProfileForm.firstName.$invalid && editProfileForm.firstName.$dirty }">
      <input class="form-control input" type="text" name="firstName" ng-model="user.firstName" placeholder="First Name" required autofocus>
      <span class="ion-person form-control-feedback"></span>
      <div class="help-block text-danger" ng-if="editProfileForm.firstName.$dirty" ng-messages="editProfileForm.firstName.$error">
        <div ng-message="required">You must enter your name.</div>
      </div>
    </div>

    <div class="form-group has-feedback" ng-class="{ 'has-error' : editProfileForm.lastName.$invalid && editProfileForm.lastName.$dirty }">
      <input class="form-control input" type="text" name="lastName" ng-model="user.lastName" placeholder="Last Name" required>
      <span class="ion-person form-control-feedback"></span>
      <div class="help-block text-danger" ng-if="editProfileForm.lastName.$dirty" ng-messages="editProfileForm.lastName.$error">
        <div ng-message="required">You must enter your name.</div>
      </div>
    </div>

    <div class="form-group has-feedback" ng-class="{ 'has-error' : editProfileForm.bio.$invalid && editProfileForm.bio.$dirty }">
      <input class="form-control input" type="text" name="bio" ng-model="user.bio" placeholder="Short Bio" required>
      <span class="ion-person form-control-feedback"></span>
      <div class="help-block text-danger" ng-if="editProfileForm.bio.$dirty" ng-messages="editProfileForm.bio.$error">
        <div ng-message="required">You must enter your name.</div>
      </div>
    </div>

    <div class="form-group has-feedback" ng-class="{ 'has-error' : editProfileForm.location.$invalid && editProfileForm.location.$dirty }">
      <input class="form-control input" type="text" name="location" ng-model="user.location" placeholder="Location">
      <span class="ion-person form-control-feedback"></span>
      <div class="help-block text-danger" ng-if="editProfileForm.location.$dirty" ng-messages="editProfileForm.location.$error">
        <div ng-message="required">You must enter your name.</div>
      </div>
    </div>

    <div class="form-group has-feedback" ng-class="{ 'has-error' : editProfileForm.jobTitle.$invalid && editProfileForm.jobTitle.$dirty }">
      <input class="form-control input" type="text" name="jobTitle" ng-model="user.jobTitle" placeholder="Job Title">
      <span class="ion-person form-control-feedback"></span>
      <div class="help-block text-danger" ng-if="editProfileForm.jobTitle.$dirty" ng-messages="editProfileForm.jobTitle.$error">
        <div ng-message="required">You must enter your name.</div>
      </div>
    </div>

    <div class="form-group has-feedback" ng-class="{ 'has-error' : editProfileForm.company.$invalid && editProfileForm.company.$dirty }">
      <input class="form-control input" type="text" name="company" ng-model="user.company" placeholder="Company">
      <span class="ion-person form-control-feedback"></span>
      <div class="help-block text-danger" ng-if="editProfileForm.company.$dirty" ng-messages="editProfileForm.company.$error">
        <div ng-message="required">You must enter your name.</div>
      </div>
    </div>

    <div class="form-group has-feedback" ng-class="{ 'has-error' : editProfileForm.stack.$invalid && editProfileForm.stack.$dirty }">
      <input class="form-control input" type="text" name="stack" ng-model="user.stack" placeholder="Stack">
      <span class="ion-person form-control-feedback"></span>
      <div class="help-block text-danger" ng-if="editProfileForm.stack.$dirty" ng-messages="editProfileForm.stack.$error">
        <div ng-message="required">You must enter your name.</div>
      </div>
    </div>

    <div class="form-group has-feedback" ng-class="{ 'has-error' : editProfileForm.github.$invalid && editProfileForm.github.$dirty }">
      <input class="form-control input" type="text" name="github" ng-model="user.github" placeholder="Github">
      <span class="ion-person form-control-feedback"></span>
      <div class="help-block text-danger" ng-if="editProfileForm.github.$dirty" ng-messages="editProfileForm.github.$error">
        <div ng-message="required">You must enter your name.</div>
      </div>
    </div>

    <div class="form-group has-feedback" ng-class="{ 'has-error' : editProfileForm.twitter.$invalid && editProfileForm.twitter.$dirty }">
      <input class="form-control input" type="text" name="twitter" ng-model="user.twitter" placeholder="Twitter">
      <span class="ion-person form-control-feedback"></span>
      <div class="help-block text-danger" ng-if="editProfileForm.twitter.$dirty" ng-messages="editProfileForm.twitter.$error">
        <div ng-message="required">You must enter your name.</div>
      </div>
    </div>

    <div class="form-group has-feedback" ng-class="{ 'has-error' : editProfileForm.codepen.$invalid && editProfileForm.codepen.$dirty }">
      <input class="form-control input" type="text" name="codepen" ng-model="user.codepen" placeholder="Codepen">
      <span class="ion-person form-control-feedback"></span>
      <div class="help-block text-danger" ng-if="editProfileForm.codepen.$dirty" ng-messages="editProfileForm.codepen.$error">
        <div ng-message="required">You must enter your name.</div>
      </div>
    </div>

    <div class="form-group has-feedback" ng-class="{ 'has-error' : editProfileForm.linkedin.$invalid && editProfileForm.linkedin.$dirty }">
      <input class="form-control input" type="text" name="linkedin" ng-model="user.linkedin" placeholder="LinkedIn">
      <span class="ion-person form-control-feedback"></span>
      <div class="help-block text-danger" ng-if="editProfileForm.linkedin.$dirty" ng-messages="editProfileForm.linkedin.$error">
        <div ng-message="required">You must enter your name.</div>
      </div>
    </div>

    <button type="submit" class="btn btn-block btn-primary">Save Profile</button>
    
  </form>
</div>










