<div class="col-sm-8 col-sm-offset-2">
  <br>
  <legend>Edit Project</legend>
  <form ng-submit="updateProject(project)" name="EditProjectForm">

    <div class="form-group has-feedback" ng-class="{ 'has-error' : EditProjectForm.title.$invalid && EditProjectForm.title.$dirty }">
      <input class="form-control input" type="text" name="title" ng-model="project.title" placeholder="title" required>
      <span class="ion-person form-control-feedback"></span>
      <div class="help-block text-danger" ng-if="EditProjectForm.title.$dirty" ng-messages="EditProjectForm.title.$error">
        <div ng-message="required">You must enter your name.</div>
      </div>
    </div>

  <!--   <div class="form-group has-feedback" ng-class="{ 'has-error' : EditProjectForm.liveUrl.$invalid && EditProjectForm.liveUrl.$dirty }">
      <input class="form-control input" type="liveUrl" id="liveUrl" name="liveUrl" ng-model="project.liveUrl" placeholder="Live URL">
      <span class="ion-at form-control-feedback"></span>
      <div class="help-block text-danger" ng-if="EditProjectForm.liveUrl.$dirty" ng-messages="EditProjectForm.liveUrl.$error">
        <div ng-message="required">Your email address is required.</div>
        <div ng-message="pattern">Your email address is invalid.</div>
      </div>
    </div> -->

      <div class="row">
        <div class="col-sm-6">
          <textarea class="form-control" id="inputText" ng-model="project.content" auto-grow></textarea>
        </div>
        <div class="col-sm-6">
          <div id="outputText" ng-bind-html="markedOnView(project.content)"></div>
        </div>
      </div>
    <br>

    <button type="submit" class="btn btn-block btn-primary">Save Project</button>
    <a ng-click="deleteProject(project)" class="btn btn-block btn-danger" href="javascript:void(0)">Delete Project</a>
    
  </form>
</div>










