<nav class="navbar navbar-fixed-top" role="navigation" id="navbar">
      <div class="container-fluid">

          <div class="navbar-header">
            <a href="/" class="navbar-brand" id="navbar-brand"><div id="navbar-logo"></div><div id="navbar-name">TOUCAN</div></a>
          </div>

          <ul class="nav navbar-nav nav-links">
              <li ng-model="page" ng-class="{active:isActive('/projects')}"><a href="/projects">Projects</a></li>
              <li ng-model="page" ng-class="{active:isActive('/developers')}"><a href="/users">Developers</a></li>
              <li ng-model="page" ng-class="{active:isActive('/about')}"><a href="/about">Teams</a></li>
              <li ng-model="page" ng-class="{active:isActive('/about')}"><a href="/about">Jobs</a></li>
              <li ng-model="page" ng-class="{active:isActive('/about')}"><a href="/about">About</a></li>
          </ul>

          <ul id="navbar-right" class="nav navbar-nav">

            <li ng-if="isAuthenticated()" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><div id="navbar-avatar" style="background-image: url(/images/{{ currentUser.profilePicture }});"></div><div id="navbar-username">{{ currentUser.username }}</div></a>
                <ul class="dropdown-menu pull-right">
                  <li><a href="/profile"><span class="fa fa-user fa-fw profile-info-icon"></span> Profile</a></li>
                  <li><a href="/"><span class="fa fa-cog fa-fw profile-info-icon"></span> Settings</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a ng-click="logout()" href="javascript:void(0)"><span class="fa fa-sign-out fa-fw profile-info-icon"></span> Logout</a></li>
                </ul>
            </li>
                
              <li><a ng-if="isAuthenticated()" class="btn btn-primary" href="/projects/new"><span class="fa fa-leaf" aria-hidden="true"></span> &nbspNew Project</a></li>

              <li><a ng-if="!isAuthenticated()" href="/signup" class="btn btn-default">Sign up</a></li>
              <li><a ng-if="!isAuthenticated()" href="/login" class="btn btn-secondary">Log in</a></li>

            </ul>

            <!-- <div id="nav-search-bar">
              <form class="navbar-form" role="search">
                <div class="form-group">
                  <span class="input-addon"><span class="fa fa-search" aria-hidden="true"></span></span>
                  <input type="text" class="form-control" placeholder="Search for projects, developers...">
                </div>
              </form>
            </div> -->

      </div>
  </nav> 