<div id="profile-jumbotron" class="jumbotron">
      <div class="container profile-header">
        <div class="profile-image" style="background-image: url(images/{{ user.profilePicture }});"></div>
        <div class="profile-username">{{ user.firstName }} {{ user.lastName }}</div>
        <div class="profile-bio">{{ user.bio }}</div>
      </div>
    </div>
<div>

<div class="container">
  <div class="row col-md-8 col-md-offset-2">

	<div ng-repeat="project in projects" class="panel panel-default">
		<div class="panel-heading">{{ project.title }}</div>
		<div class="panel-body">{{ project.description }}</div>
	</div>

  </div>
</div>