<div id="profile-jumbotron" class="jumbotron">

	<div class="container profile-header">
		<div class="profile-image" style="background-image: url(images/{{ user.profilePicture }});"></div>
		<div class="profile-username">{{ user.firstName }} {{ user.lastName }}</div>
		<div class="profile-bio">{{ user.bio }}</div>
	</div>

	<div ng-if="isAuthenticated() && currentUser" class="edit-profile-button">
		<a ng-href="/{{ user.username }}/edit" class="btn btn-default pull-left">Edit Profile</a>
	</div>

    </div>
<div>

<div class="container">
  <div class="row col-md-8 col-md-offset-2">

	<div class="projects-container">
		<div ng-repeat="project in projects" class="project-container">
			<div class="project-title"><a ng-href="/projects/{{ project._id }}">{{ project.title }}</a></div>
			<div class="project-summary">{{ project.summary }}</div>
		</div>
	</div>

  </div>
</div>