<div class="container project-view-container">
  <div class="row">

    <div class="col-sm-8 col-md-offset-2">

      <div class="project-view-title-container">
            <div class="project-view-title">{{ project.title }}</div>
            <div class="project-view-summary">{{ project.summary }}</div>
      </div>

      <div class="project-info-container">

        <div ng-if="isAuthenticated() && currentUser" class="edit-project">
          <a ng-href="/projects/{{ project._id }}/edit" class="btn btn-default edit-project-button pull-right">Edit Project</a>
        </div>

        <div class="project-view-item">
          <div class="project-view-avatar" style="background-image: url(/images/henry.png);"></div>
          <div class="project-view-username"><a href="javascript:void(0)">{{ project.user.username }}</a></div>
        </div>
        
      </div>

      <hr>

      <div ng-bind-html="markedOnView(project.content)"></div>

    </div>

  </div>
</div>









