<div class="container project-view-container">
  <div class="row">

    <!-- <div ng-controller="markedController as marked">
      <div class="row">
        <div class="col-sm-6">
          <textarea class="form-control" id="inputText" ng-model="marked.inputText" auto-grow></textarea>
        </div>
        <div class="col-sm-6">
          <div id="outputText" ng-bind-html="marked.outputText"></div>
        </div>
      </div>
    </div>
    <br>
    <br> -->

    <div class="col-sm-8 col-md-offset-2">

      <!-- <div class="project-view-image-container" style="background-image: url(/images/{{ project.image }});"></div> -->

      <!-- <div class="row">
        <div class="col-md-12">
        <pre><code><%= @project.snippet %><br></code></pre>
        </div>
      </div>  -->

      <div class="project-view-title-container">
            <div class="project-view-title">{{ project.title }}</div>
      </div>

      <div class="edit-project">
        <a href=""></a>
        <!-- <a ng-click="deleteProject(project)" class="btn btn-danger" href="javascript:void(0)">Delete Project</a> -->
      </div>

      <div class="project-view-item">
        <div class="project-view-avatar" style="background-image: url(/images/henry.png);"></div>
        <div class="project-view-username"><a href="javascript:void(0)">{{ project.user.username }}</a></div>
      </div>

      <hr>

      <div ng-bind-html="project.content"></div>

    </div>

  </div>
</div>









