/* - - - - - - - - Colors - - - - - - - - */
/* - - - - - - - - Styling - - - - - - - - */
/* - - - - - - - - Images - - - - - - - - */
/* line 4, ../compass/sass/style.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Source Code Pro', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding-top: 70px;
}

/* line 15, ../compass/sass/style.scss */
.grey-page {
  background-color: #EFEFEF;
}

/* line 20, ../compass/sass/style.scss */
.white-page {
  background-color: #FFFFFF;
}

/* - - - - - - - - Active Inputs - - - - - - - - */
/* line 26, ../compass/sass/style.scss */
.form-control:focus {
  border-color: rgba(76, 166, 25, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(76, 166, 25, 0.6);
  outline: 0 none;
}

/* - - - - - - - - Main Nav - - - - - - - - */
/* line 34, ../compass/sass/style.scss */
#navbar {
  background-color: #FFFFFF;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  height: 70px;
}

/* line 41, ../compass/sass/style.scss */
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 0px;
}

/* line 46, ../compass/sass/style.scss */
.navbar-header {
  display: inline-block;
}

/* line 50, ../compass/sass/style.scss */
#navbar-brand {
  color: #404040;
  font-size: 21px;
  height: 70px;
  padding-top: 15px;
}

/* line 57, ../compass/sass/style.scss */
#navbar-logo {
  display: inline-block;
  /*position: relative;*/
  height: 40px;
  width: 40px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
  background-image: url('../images/logo-02.svg?1441764102');
}

/* line 68, ../compass/sass/style.scss */
#navbar-name {
  position: relative;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  top: -13px;
  display: inline-block;
}

/* line 77, ../compass/sass/style.scss */
.nav-links {
  display: inline-block;
}

/* line 81, ../compass/sass/style.scss */
.nav-links > li {
  height: 70px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 87, ../compass/sass/style.scss */
.nav-links > li > a {
  margin-top: 26px;
  padding-top: 0;
  font-size: 14px;
  font-weight: 400;
  color: #C4C4C4;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

/* line 98, ../compass/sass/style.scss */
.nav-links > li > a:hover {
  background-color: #FFFFFF;
  color: #212721;
}

/* line 103, ../compass/sass/style.scss */
.nav-links > li > a:active {
  background-color: #FFFFFF;
  color: #212721;
}

/* line 108, ../compass/sass/style.scss */
.nav-links > li > a:focus {
  background-color: #FFFFFF;
  color: #212721;
}

/* line 113, ../compass/sass/style.scss */
.nav-links > li.active > a {
  color: #212721;
}

/* line 117, ../compass/sass/style.scss */
#navbar-buttons {
  float: right;
  padding: 0;
}

/* line 123, ../compass/sass/style.scss */
#navbar-buttons li {
  display: inline-block;
}

/* line 128, ../compass/sass/style.scss */
.navbar .btn {
  color: #FFFFFF;
  margin-top: 18px;
  margin-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
}

/* line 143, ../compass/sass/style.scss */
.navbar .btn {
  float: right;
  color: #FFFFFF;
  margin-top: 175 px;
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 3px;
  border: none;
}

/* line 162, ../compass/sass/style.scss */
.btn.btn-primary {
  background-color: #3EAE05;
}

/* line 166, ../compass/sass/style.scss */
.btn.btn.btn-primary:hover {
  background-color: #357411;
}

/* line 170, ../compass/sass/style.scss */
.btn.btn-primary:active {
  background-color: #357411;
}

/* line 174, ../compass/sass/style.scss */
.btn.btn-primary:focus {
  background-color: #357411;
}

/* line 180, ../compass/sass/style.scss */
.btn.btn-secondary {
  background-color: #1761C1;
}

/* line 184, ../compass/sass/style.scss */
.btn.btn-secondary:hover {
  background-color: #0F4385;
}

/* line 188, ../compass/sass/style.scss */
.btn.btn-secondary:active {
  background-color: #0F4385;
}

/* line 192, ../compass/sass/style.scss */
.btn.btn-secondary:focus {
  background-color: #0F4385;
}

/* line 198, ../compass/sass/style.scss */
.btn.btn-default {
  background-color: #666666;
}

/* line 202, ../compass/sass/style.scss */
.btn.btn-default:hover {
  background-color: #404040;
  color: #FFFFFF;
}

/* line 207, ../compass/sass/style.scss */
.btn.btn-default:active {
  background-color: #404040;
  color: #FFFFFF;
}

/* line 212, ../compass/sass/style.scss */
.btn.btn-default:focus {
  background-color: #404040;
  color: #FFFFFF;
}

/* - - - - - - - - Search Bar - - - - - - - - */
/* line 225, ../compass/sass/style.scss */
#nav-search-bar {
  display: inline-block;
  float: right;
}

/* line 230, ../compass/sass/style.scss */
#nav-search-bar .navbar-form {
  padding: 0;
}

/* line 234, ../compass/sass/style.scss */
#nav-search-bar input {
  height: 32px;
  border: 1px solid #C4C4C4;
  box-shadow: none;
  width: 300px;
  color: #666666;
  margin-top: 12px;
  padding-left: 30px;
}

/* line 244, ../compass/sass/style.scss */
#nav-search-bar .input-addon {
  color: #C4C4C4;
  position: relative;
  top: 8px;
  left: 28px;
}

/* line 251, ../compass/sass/style.scss */
#nav-search-bar input::-webkit-input-placeholder {
  color: #C4C4C4;
}

/* line 255, ../compass/sass/style.scss */
#nav-search-bar input:-moz-placeholder {
  /* Firefox 18- */
  color: #C4C4C4;
}

/* line 259, ../compass/sass/style.scss */
#nav-search-bar input::-moz-placeholder {
  /* Firefox 19+ */
  color: #C4C4C4;
}

/* line 263, ../compass/sass/style.scss */
#nav-search-bar input:-ms-input-placeholder {
  color: #C4C4C4;
}

/* - - - - - - - - Username Dropdown Menu - - - - - - - - */
/* line 269, ../compass/sass/style.scss */
.navbar .dropdown {
  position: relative;
  top: -10px;
  display: inline-block;
}

/* line 275, ../compass/sass/style.scss */
#navbar .navbar-nav .open > a {
  color: #C4C4C4;
}

/* line 279, ../compass/sass/style.scss */
#navbar-username {
  display: inline-block;
  position: relative;
  top: -3px;
  color: #666666;
  font-weight: 400;
  font-size: 14px;
}

/* line 288, ../compass/sass/style.scss */
#navbar-username:hover {
  color: #404040;
}

/* line 292, ../compass/sass/style.scss */
#navbar-buttons .dropdown-toggle {
  height: 70px;
}

/* line 296, ../compass/sass/style.scss */
#navbar-buttons .dropdown-toggle:hover > #navbar-username {
  color: #404040;
}

/* line 300, ../compass/sass/style.scss */
#navbar-buttons .dropdown-toggle:hover {
  background-color: #FFFFFF;
}

/* line 304, ../compass/sass/style.scss */
#navbar-buttons .dropdown-toggle:focus {
  background-color: #FFFFFF;
}

/* line 308, ../compass/sass/style.scss */
#navbar-avatar {
  height: 36px;
  width: 36px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: 8px;
  margin-top: -3px;
  margin-bottom: -10px;
  border-radius: 50%;
}

/* line 323, ../compass/sass/style.scss */
.dropdown-menu {
  min-width: 160px;
}

/* line 327, ../compass/sass/style.scss */
.navbar ul.dropdown-menu {
  margin-top: 22px;
  background-color: #FFFFFF;
  border: none;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

/* line 334, ../compass/sass/style.scss */
.navbar ul.dropdown-menu li a {
  font-size: 14px;
  font-weight: 400;
  color: #666666;
}

/* line 340, ../compass/sass/style.scss */
.navbar ul.dropdown-menu li:hover {
  background-color: #FFFFFF;
}

/* line 344, ../compass/sass/style.scss */
.navbar ul.dropdown-menu li a:hover {
  background-color: #FFFFFF;
  font-weight: 400;
  color: #404040;
}

/* line 350, ../compass/sass/style.scss */
.navbar ul.dropdown-menu li a:hover > span {
  color: #404040;
}

/* line 352, ../compass/sass/style.scss */
.dropdown-menu .divider {
  height: 1px;
  margin: 6px 0;
  overflow: hidden;
  background-color: #EFEFEF;
}

/* line 359, ../compass/sass/style.scss */
.dropdown-menu .divider:hover {
  height: 1px;
  margin: 6px 0;
  overflow: hidden;
  background-color: #EFEFEF;
}

/* - - - - - - - - Welcome Jumbotron - - - - - - - - */
/* line 368, ../compass/sass/style.scss */
#welcome-jumbotron {
  background-color: #FFFFFF;
  height: calc(100vh - 70px);
}

/* line 375, ../compass/sass/style.scss */
#welcome-jumbotron h1 {
  margin-top: 25vh;
  font-weight: 800;
  font-size: 54px;
  margin-bottom: 15px;
  color: #404040;
}

/* line 383, ../compass/sass/style.scss */
#welcome-jumbotron p {
  font-weight: 400;
  margin-top: 20px;
  font-size: 21px;
  color: #666666;
}

/* line 390, ../compass/sass/style.scss */
#welcome-jumbotron .jumbotron-buttons {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

/* line 396, ../compass/sass/style.scss */
#welcome-jumbotron .jumbotron-buttons > li {
  display: inline-block;
}

/* line 405, ../compass/sass/style.scss */
#welcome-jumbotron .btn {
  color: #FFFFFF;
  padding: 12px 30px 12px 30px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 3px;
  border: none;
}

/* - - - - - - - - Secondary Header - - - - - - - - */
/* line 416, ../compass/sass/style.scss */
#page-header {
  background-color: #FAFAFA;
  box-shadow: inset 0px -1px rgba(0, 0, 0, 0.08);
  height: 40px;
  margin: 0;
  z-index: 100;
}

/* line 425, ../compass/sass/style.scss */
.secondary-navigation-list-container {
  margin: auto;
  text-align: center;
}

/* line 430, ../compass/sass/style.scss */
#page-header .secondary-navigation-list {
  padding: 0;
  display: inline-block;
  margin: auto;
}

/* line 436, ../compass/sass/style.scss */
#page-header .secondary-navigation-list > li {
  display: inline-block;
  padding: 0;
  margin: 0;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

/* line 447, ../compass/sass/style.scss */
#page-header .secondary-navigation-list > li > a {
  padding: 0;
  font-weight: 400;
  color: #C4C4C4;
}

/* line 453, ../compass/sass/style.scss */
#page-header .secondary-navigation-list > li > a:hover, #page-header .secondary-navigation-list > li > a:focus {
  color: #404040;
  text-decoration: none;
}

/* line 458, ../compass/sass/style.scss */
#page-header .secondary-navigation-list > li > a.active {
  color: #404040;
}

/* - - - - - - - - Error Page - - - - - - - - */
/* line 464, ../compass/sass/style.scss */
#error-jumbotron {
  background-image: url(/images/profile-bg-2.png);
}

/* line 468, ../compass/sass/style.scss */
.error-message {
  margin-top: 15px;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 400;
}

/* - - - - - - - - Sign Up Form - - - - - - - - */
/* line 477, ../compass/sass/style.scss */
.form-container {
  margin-top: 30px;
  padding: 30px;
  background-color: #FFFFFF;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* line 485, ../compass/sass/style.scss */
.form-header {
  font-size: 24px;
  font-weight: 600;
  color: #666666;
  text-align: center;
  margin-bottom: 30px;
}

/* line 493, ../compass/sass/style.scss */
.form-container .btn-primary {
  font-size: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  border-radius: 3px;
  border-color: #3EAE05;
}

/* line 503, ../compass/sass/style.scss */
.signup-or-separator {
  text-align: center;
}

@media (max-width: 540px) {
  /* line 513, ../compass/sass/style.scss */
  #navbar-username {
    display: none;
  }
}
