/* - - - - - - - - Colors - - - - - - - - */
/* - - - - - - - - Styling - - - - - - - - */
/* - - - - - - - - Images - - - - - - - - */
/* line 4, ../compass/sass/style.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding-top: 70px;
  background-color: #EFEFEF;
}

/* line 14, ../compass/sass/style.scss */
.grey-page {
  background-color: #EFEFEF;
}

/* line 18, ../compass/sass/style.scss */
.white-page {
  background-color: #FFFFFF;
}

/* - - - - - - - - Active Inputs - - - - - - - - */
/* line 24, ../compass/sass/style.scss */
.form-control:focus {
  border-color: rgba(76, 166, 25, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(76, 166, 25, 0.6);
  outline: 0 none;
}

/* - - - - - - - - Main Nav - - - - - - - - */
/* line 32, ../compass/sass/style.scss */
#navbar {
  background-color: #FFFFFF;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}

/* line 38, ../compass/sass/style.scss */
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 0px;
}

/* line 43, ../compass/sass/style.scss */
#navbar-brand {
  color: #404040;
  font-size: 21px;
  height: 70px;
  padding-top: 15px;
  margin-right: 10px;
}

/* line 51, ../compass/sass/style.scss */
#navbar-logo {
  display: inline-block;
  /*position: relative;*/
  height: 40px;
  width: 40px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
  background-image: url('../images/logo-02.svg?1441764102');
}

/* line 62, ../compass/sass/style.scss */
#navbar-name {
  position: relative;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  top: -13px;
  display: inline-block;
}

/* line 71, ../compass/sass/style.scss */
.nav-links > li {
  height: 70px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 77, ../compass/sass/style.scss */
.nav-links > li > a {
  margin-top: 26px;
  padding-top: 0;
  font-size: 14px;
  font-weight: 400;
  color: #C4C4C4;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

/* line 88, ../compass/sass/style.scss */
.nav-links > li > a:hover {
  background-color: #FFFFFF;
  color: #212721;
}

/* line 93, ../compass/sass/style.scss */
.nav-links > li > a:active {
  background-color: #FFFFFF;
  color: #212721;
}

/* line 98, ../compass/sass/style.scss */
.nav-links > li > a:focus {
  background-color: #FFFFFF;
  color: #212721;
}

/* line 103, ../compass/sass/style.scss */
.nav-links > li.active > a {
  color: #212721;
}

/* line 107, ../compass/sass/style.scss */
#navbar-right {
  float: right;
}

/* line 111, ../compass/sass/style.scss */
#navbar .navbar-nav .open > a {
  color: #C4C4C4;
}

/* line 115, ../compass/sass/style.scss */
#navbar-username {
  display: inline-block;
  position: relative;
  top: -1px;
  color: #666666;
  font-weight: 400;
}

/* line 123, ../compass/sass/style.scss */
#navbar-username:hover {
  color: #404040;
}

/* line 127, ../compass/sass/style.scss */
#navbar-right .dropdown-toggle {
  height: 70px;
}

/* line 131, ../compass/sass/style.scss */
#navbar-right .dropdown-toggle:hover > #navbar-username {
  color: #404040;
}

/* line 135, ../compass/sass/style.scss */
#navbar-right .dropdown-toggle:hover {
  background-color: #FFFFFF;
}

/* line 139, ../compass/sass/style.scss */
#navbar-right .dropdown-toggle:focus {
  background-color: #FFFFFF;
}

/* line 143, ../compass/sass/style.scss */
#navbar-avatar {
  height: 30px;
  width: 30px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: 8px;
  margin-top: 5px;
  margin-bottom: -10px;
  border-radius: 50%;
}

/* line 158, ../compass/sass/style.scss */
.navbar .btn {
  color: #FFFFFF;
  margin-top: 18px;
  margin-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
}

/* line 175, ../compass/sass/style.scss */
.navbar .btn-primary {
  background-color: #3EAE05;
}

/* line 179, ../compass/sass/style.scss */
.navbar .btn-primary:hover {
  background-color: #357411;
}

/* line 183, ../compass/sass/style.scss */
.navbar .btn-primary:active {
  background-color: #357411;
}

/* line 187, ../compass/sass/style.scss */
.navbar .btn-primary:focus {
  background-color: #357411;
}

/* line 193, ../compass/sass/style.scss */
.navbar .btn-secondary {
  background-color: #1761C1;
}

/* line 197, ../compass/sass/style.scss */
.navbar .btn-secondary:hover {
  background-color: #0F4385;
}

/* line 201, ../compass/sass/style.scss */
.navbar .btn-secondary:active {
  background-color: #0F4385;
}

/* line 205, ../compass/sass/style.scss */
.navbar .btn-secondary:focus {
  background-color: #0F4385;
}

/* line 211, ../compass/sass/style.scss */
.navbar .btn-default {
  background-color: #666666;
}

/* line 215, ../compass/sass/style.scss */
.navbar .btn-default:hover {
  background-color: #404040;
  color: #FFFFFF;
}

/* line 220, ../compass/sass/style.scss */
.navbar .btn-default:active {
  background-color: #404040;
  color: #FFFFFF;
}

/* line 225, ../compass/sass/style.scss */
.navbar .btn-default:focus {
  background-color: #404040;
  color: #FFFFFF;
}

/* - - - - - - - - Search Bar - - - - - - - - */
/* line 238, ../compass/sass/style.scss */
#nav-search-bar {
  display: inline-block;
  float: right;
}

/* line 243, ../compass/sass/style.scss */
#nav-search-bar .navbar-form {
  padding: 0;
}

/* line 247, ../compass/sass/style.scss */
#nav-search-bar input {
  height: 32px;
  border: 1px solid #C4C4C4;
  box-shadow: none;
  width: 300px;
  color: #666666;
  margin-top: 12px;
  padding-left: 30px;
}

/* line 257, ../compass/sass/style.scss */
#nav-search-bar .input-addon {
  color: #C4C4C4;
  position: relative;
  top: 8px;
  left: 28px;
}

/* line 264, ../compass/sass/style.scss */
#nav-search-bar input::-webkit-input-placeholder {
  color: #C4C4C4;
}

/* line 268, ../compass/sass/style.scss */
#nav-search-bar input:-moz-placeholder {
  /* Firefox 18- */
  color: #C4C4C4;
}

/* line 272, ../compass/sass/style.scss */
#nav-search-bar input::-moz-placeholder {
  /* Firefox 19+ */
  color: #C4C4C4;
}

/* line 276, ../compass/sass/style.scss */
#nav-search-bar input:-ms-input-placeholder {
  color: #C4C4C4;
}

/* - - - - - - - - Dropdown Menu - - - - - - - - */
/* line 282, ../compass/sass/style.scss */
.dropdown-menu {
  min-width: 160px;
}

/* line 286, ../compass/sass/style.scss */
.navbar ul.dropdown-menu {
  margin-top: 1px;
  background-color: #FFFFFF;
  border: none;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

/* line 293, ../compass/sass/style.scss */
.navbar ul.dropdown-menu li a {
  font-size: 14px;
  font-weight: 400;
  color: #666666;
}

/* line 299, ../compass/sass/style.scss */
.navbar ul.dropdown-menu li:hover {
  background-color: #FFFFFF;
}

/* line 303, ../compass/sass/style.scss */
.navbar ul.dropdown-menu li a:hover {
  background-color: #FFFFFF;
  font-weight: 400;
  color: #404040;
}

/* line 309, ../compass/sass/style.scss */
.navbar ul.dropdown-menu li a:hover > span {
  color: #404040;
}

/* line 311, ../compass/sass/style.scss */
.dropdown-menu .divider {
  height: 1px;
  margin: 6px 0;
  overflow: hidden;
  background-color: #EFEFEF;
}

/* line 318, ../compass/sass/style.scss */
.dropdown-menu .divider:hover {
  height: 1px;
  margin: 6px 0;
  overflow: hidden;
  background-color: #EFEFEF;
}

/* - - - - - - - - Welcome Jumbotron - - - - - - - - */
/* line 327, ../compass/sass/style.scss */
#welcome-jumbotron {
  background-color: #212721;
  padding-top: 60px;
  padding-bottom: 70px;
}

/* line 333, ../compass/sass/style.scss */
#welcome-jumbotron h1 {
  font-weight: 500;
  font-size: 42px;
  margin: 0;
  margin-bottom: 15px;
  color: #FFFFFF;
}

/* line 341, ../compass/sass/style.scss */
#welcome-jumbotron p {
  margin: 0;
  margin-top: 20px;
  font-size: 16px;
  color: #FFFFFF;
}

/* line 348, ../compass/sass/style.scss */
#welcome-jumbotron .jumbotron-buttons {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  display: inline-block;
}

/* line 355, ../compass/sass/style.scss */
#welcome-jumbotron .jumbotron-buttons > li {
  display: inline-block;
}

/* line 359, ../compass/sass/style.scss */
#welcome-jumbotron .jumbotron-buttons > li > a {
  margin-left: 8px;
  margin-right: 8px;
}

/* line 364, ../compass/sass/style.scss */
#welcome-jumbotron .btn {
  color: #FFFFFF;
  margin-top: 18px;
  margin-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
}

/* line 379, ../compass/sass/style.scss */
#welcome-jumbotron .btn-primary {
  background-color: #3EAE05;
}

/* line 383, ../compass/sass/style.scss */
#welcome-jumbotron .btn-default {
  background-color: #666666;
}

/* - - - - - - - - Secondary Header - - - - - - - - */
/* line 389, ../compass/sass/style.scss */
#page-header {
  background-color: #FAFAFA;
  box-shadow: inset 0px -1px rgba(0, 0, 0, 0.08);
  height: 40px;
  margin: 0;
  z-index: 100;
  position: fixed;
  top: 70px;
  right: 0;
  left: 0;
}

/* line 402, ../compass/sass/style.scss */
.secondary-navigation-list-container {
  margin: auto;
  text-align: center;
}

/* line 407, ../compass/sass/style.scss */
#page-header .secondary-navigation-list {
  padding: 0;
  display: inline-block;
  margin: auto;
}

/* line 413, ../compass/sass/style.scss */
#page-header .secondary-navigation-list > li {
  display: inline-block;
  padding: 0;
  margin: 0;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

/* line 424, ../compass/sass/style.scss */
#page-header .secondary-navigation-list > li > a {
  padding: 0;
  font-weight: 400;
  color: #C4C4C4;
}

/* line 430, ../compass/sass/style.scss */
#page-header .secondary-navigation-list > li > a:hover, #page-header .secondary-navigation-list > li > a:focus {
  color: #404040;
  text-decoration: none;
}

/* line 435, ../compass/sass/style.scss */
#page-header .secondary-navigation-list > li > a.active {
  color: #404040;
}

/* - - - - - - - - Error Page - - - - - - - - */
/* line 441, ../compass/sass/style.scss */
#error-jumbotron {
  background-image: url(/images/profile-bg-2.png);
}

/* line 445, ../compass/sass/style.scss */
.error-message {
  margin-top: 15px;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 400;
}
