.col-sm-4.col-sm-offset-4
  br
  legend New Project
  form(method='post', ng-submit='newProject()', name='newProjectForm')
    .form-group.has-feedback(ng-class="{ 'has-error' : newProjectForm.title.$invalid && newProjectForm.title.$dirty }")
      input.form-control.input(type='text', name='title', ng-model='project.title', placeholder='Project Title', required='', autofocus='')
      // <span class="ion-folder form-control-feedback"></span>
      .help-block.text-danger(ng-if='newProjectForm.title.$dirty', ng-messages='newProjectForm.title.$error')
        div(ng-message='required') You must enter a title.
    .form-group.has-feedback(ng-class="{ 'has-error' : newProjectForm.summary.$invalid && newProjectForm.summary.$dirty }")
      textarea.form-control.input(type='text', name='summary', ng-model='project.summary', placeholder='Project summary', required='')
      // <span class="ion-folder form-control-feedback"></span>
      .help-block.text-danger(ng-if='newProjectForm.summary.$dirty', ng-messages='newProjectForm.summary.$error')
        div(ng-message='required') You must enter a summary.
    //
      <div class="form-group has-feedback" ng-class="{ 'has-error' : newProjectForm.liveUrl.$invalid && newProjectForm.liveUrl.$dirty }">
      <input class="form-control input" type="liveUrl" id="liveUrl" name="liveUrl" ng-model="project.liveUrl" placeholder="Live URL">
      <span class="ion-earth form-control-feedback"></span>
      <div class="help-block text-danger" ng-if="newProjectForm.liveUrl.$dirty" ng-messages="newProjectForm.liveUrl.$error">
      <div ng-message="pattern">URL is invalid.</div>
      </div>
      </div>
    //
      <div class="form-group has-feedback" ng-class="{ 'has-error' : newProjectForm.content.$invalid && newProjectForm.content.$dirty }">
      <input password-strength class="form-control input" type="text" name="content" ng-model="project.content" placeholder="content">
      <span class="ion-document-text form-control-feedback"></span>
      <div class="help-block text-danger" ng-if="newProjectForm.content.$dirty" ng-messages="newProjectForm.content.$error">
      <div ng-message="required">Description is required.</div>
      </div>
      </div>
    button.btn.btn-block.btn-primary(type='submit', ng-disabled='newProjectForm.$invalid') Add Project
