#profile-jumbotron.jumbotron
  .container.profile-header
    .profile-image(style='background-image: url(images/{{ user.profilePicture }});')
    .profile-username {{ user.firstName }} {{ user.lastName }}
    .profile-bio {{ user.bio }}
  .edit-profile-button(ng-if='isAuthenticated() && currentUser')
    a.btn.btn-default.pull-left(ng-href='/{{ user.username }}/edit') Edit Profile
div
  .container
    .row 
      .col-md-10.col-md-offset-1.projects-container
        .row
          a(href='/projects/new').col-sm-4
            .project-container
              | New Project
          .col-sm-4(ng-repeat='project in projects')
            .project-container
              .project-title
                a(ng-href='/projects/{{ project._id }}') {{ project.title }}
              .project-summary {{ project.summary }}