<!DOCTYPE html>
<html lang="en" ng-app="tukanApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>&nbsp;Toucan | Share your code</title>

	<link rel="shortcut icon" href="/images/favicon.ico">

	<!-- Latest compiled Bootstrap and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/projects.css">
	<link rel="stylesheet" href="/css/profile.css">
	<link rel="stylesheet" href="/css/normalize.css">

	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,500,400italic,300italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,500,600,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:700,400,300,300italic,400italic,700' rel='stylesheet' type='text/css'>

	<!-- font awesome icons -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<!-- Satelizer Links -->
	<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/paper/bootstrap.min.css"> -->
	<link rel="stylesheet" href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
	<!-- <link href="css/angular-toastr.css" rel="stylesheet"> -->

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<!-- bootstrap js -->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
	<!-- Angular Route -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js"></script>
	<!-- Angular Messaging -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-messages.min.js"></script>

	<!-- Script Source -->
	<script src="/vendor/satellizer.js"></script>
	<script type="text/javascript" src="/scripts/app.js"></script>
	<script type="text/javascript" src="/scripts/controllers/main.js"></script>
	<script type="text/javascript" src="/scripts/controllers/login.js"></script>
	<script type="text/javascript" src="/scripts/controllers/signup.js"></script>
	<script type="text/javascript" src="/scripts/controllers/project.js"></script>
	<script type="text/javascript" src="/scripts/controllers/profile.js"></script>

</head>
<body ng-controller="MainCtrl" class="{{ pageClass }}">

	<div ng-include src=" '/views/templates/navbar.html' "></div>

 	<div ng-view></div>

</body>
</html>